.guest-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: transparent;
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

