.loader {
    display: grid;
    transform: rotateX(180deg);
    grid-template-columns: repeat(3, 1fr);
}

.box {
    background-color: var(--foreground);
    height: 30px;
    width: 30px;
    animation: scale 1.5s infinite ease-in-out;
}

.box:nth-child(2),
.box:nth-child(4) {
    animation-delay: 0.1s;
}

.box:nth-child(3),
.box:nth-child(5),
.box:nth-child(7) {
    animation-delay: 0.2s;
}

.box:nth-child(6),
.box:nth-child(8) {
    animation-delay: 0.3s;
}

.box:nth-child(9) {
    animation-delay: 0.4s;
}

@keyframes scale {
    0%,
    70%,
    100% {
        transform: scale3D(1, 1, 1);
    }

    35% {
        transform: scale3D(0, 0, 1);
    }
}